<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>About Us</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <p>This application is an activity that created to learn the basics of Node.js and Express like routing, methods and views.</p>
    
    <h2>Welcome, <%= name %>!</h2>
    <p>We're glad to have you here, <%= name %>!</p>
  </main>
</body>
</html>
